.customFormLogin{
    margin: 0 auto;
    margin-top: 50px;
	width: 50%;
	height: auto;
    padding: 25px 0px 0px 0px;
    font-family: 'sans-serif', serif;
}

.customFormLogin input[type=text]{
    font-size: 18px;
}

.customFormLogin label{
    font-size: 18px;
    font-weight: bold;
}