/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body{
    background-color: whitesmoke;
}

.main-container{
    min-height: 500px;
}

.main-footer, .main-footer>hr{
    margin-top: 100px;
    margin-bottom: 10px;
}

.main-footer>hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}





